---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=1&q=new%20zealand
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 33FBD12975CE4CB1907223FF2D1DA7C0
      Bingapis-Market:
      - en-US
      X-Msedge-Clientid:
      - 04130642D0536577288C1786D1DB64FF
      X-Msapi-Userstate:
      - '8033'
      X-Search-Responseinfo:
      - InternalResponseTime=224,MSDatacenter=MWHE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=new zealand", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=new
        zealand&FORM=OIIARP", "queryContext": {"originalQuery": "new zealand", "alterationDisplayQuery":
        "news zealand", "alterationOverrideQuery": "+new zealand", "alterationMethod":
        "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        200, "nextOffset": 1, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=new+zealand&id=65FC6905BC1777554010CAF3AC355373E8E8BCFB&simid=608034504660315152",
        "name": "The Nature Conservancy in New Zealand", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.AJ0IhPkk6cVCcWPWTxK2JwHaEE&pid=Api",
        "datePublished": "2021-08-30T16:49:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/natureconservancy-h.assetsadobe.com\/is\/image\/content\/dam\/tnc\/nature\/en\/photos\/LakeWakatipuNewZealand.jpg?crop=0%2C25%2C4000%2C2200&wid=4000&hei=2200&scl=1.0",
        "hostPageUrl": "https:\/\/www.nature.org\/en-us\/about-us\/where-we-work\/asia-pacific\/new-zealand\/",
        "contentSize": "1568872 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.nature.org\/en-us\/about-us\/where-we-work\/asia-pacific\/new-zealand",
        "width": 4000, "height": 2200, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.JMnqBCS24HhK16QNwxfU_w&pid=Api",
        "hostPageDomainFriendlyName": "The Nature Conservancy", "hostPageDiscoveredDate":
        "2018-09-18T00:00:00.0000000Z", "thumbnail": {"width": 474, "height": 260},
        "imageInsightsToken": "ccid_AJ0IhPkk*cp_9AC2B6973F99A5208A284E04666E3A3D*mid_65FC6905BC1777554010CAF3AC355373E8E8BCFB*simid_608034504660315152*thid_OIP.AJ0IhPkk6cVCcWPWTxK2JwHaEE",
        "insightsMetadata": {"pagesIncludingCount": 79, "availableSizesCount": 55},
        "imageId": "65FC6905BC1777554010CAF3AC355373E8E8BCFB", "accentColor": "074C7F"}],
        "queryExpansions": [{"text": "New Zealand North Island", "displayText": "North
        Island", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=New+Zealand+North+Island&tq=%7b%22pq%22%3a%22new+zealand%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22new+zealand%22%2c%22pv%22%3a%22new+zealand%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22North+Island%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=New+Zealand+North+Island&tq=%7b%22pq%22%3a%22new+zealand%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22new+zealand%22%2c%22pv%22%3a%22new+zealand%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22North+Island%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?q=New+Zealand+North+Island&pid=Api&mkt=en-US&cc=US&setlang=en&adlt=moderate&t=1"}}[...]
