---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=1&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 64FDAC2205B74A6D88B26C0238C3A396
      Bingapis-Market:
      - en-US
      X-Msedge-Clientid:
      - 0EE3CEB765556881149BDF7364C9699F
      X-Msapi-Userstate:
      - 6d66
      X-Search-Responseinfo:
      - InternalResponseTime=227,MSDatacenter=MWHE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=denver,co",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=denver,co&FORM=OIIARP",
        "queryContext": {"originalQuery": "denver,co", "alterationDisplayQuery": "\"denver
        co\"", "alterationOverrideQuery": "+denver,co", "alterationMethod": "AM_ChangeItWithRecourse",
        "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        200, "nextOffset": 1, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2cco&id=BE222E41D634F36DA456D4A442C7069E8F8CED1F&simid=607986491227971316",
        "name": "Denver, CO Convention Site Selection", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.ZhFSSsgx_WuKi07qAIBQEAHaE7&pid=Api",
        "datePublished": "2019-11-07T17:58:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/meetingsource.com\/wp-content\/uploads\/2017\/01\/Denver_345958679.jpg",
        "hostPageUrl": "https:\/\/meetingsource.com\/listing\/denver\/", "contentSize":
        "4493093 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/meetingsource.com\/listing\/denver",
        "width": 5709, "height": 3805, "hostPageDiscoveredDate": "2017-05-11T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 315}, "imageInsightsToken": "ccid_ZhFSSsgx*cp_E30740F5091B6B1A068F191D8AD80A3E*mid_BE222E41D634F36DA456D4A442C7069E8F8CED1F*simid_607986491227971316*thid_OIP.ZhFSSsgx!_WuKi07qAIBQEAHaE7",
        "insightsMetadata": {"pagesIncludingCount": 18, "availableSizesCount": 14},
        "imageId": "BE222E41D634F36DA456D4A442C7069E8F8CED1F", "accentColor": "3E6A8D"}],
        "queryExpansions": [{"text": "City Park Denver Co", "displayText": "City Park",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=City+Park+Denver+Co&tq=%7b%22pq%22%3a%22denver%2cco%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22%22%2c%22pv%22%3a%22%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22City+Park%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=City+Park+Denver+Co&tq=%7b%22pq%22%3a%22denver%2cco%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22%22%2c%22pv%22%3a%22%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22City+Park%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?q=City+Park+Denver+Co&pid=Api&mkt=en-US&cc=US&setlang=en&adlt=moderate&t=1"}},
        {"text": "Denver Co Mount[...]
