---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Sike you thought&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655003472,"sunrise":1654947095,"sunset":1655000870,"temp":83.59,"feels_like":81.27,"pressure":1002,"humidity":25,"dew_point":44.1,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":9.46,"wind_deg":190,"wind_gust":21.3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1655003520,"precipitation":0},{"dt":1655003580,"precipitation":0},{"dt":1655003640,"precipitation":0},{"dt":1655003700,"precipitation":0},{"dt":1655003760,"precipitation":0},{"dt":1655003820,"precipitation":0},{"dt":1655003880,"precipitation":0},{"dt":1655003940,"precipitation":0},{"dt":1655004000,"precipitation":0},{"dt":1655004060,"precipitation":0},{"dt":1655004120,"precipitation":0},{"dt":1655004180,"precipitation":0},{"dt":1655004240,"precipitation":0},{"dt":1655004300,"precipitation":0},{"dt":1655004360,"precipitati[...]
